

<div id="mika">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">已預定</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">歷史訂單</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <table class="table table-striped">
                <thead>
                    <tr>
                        @*<th scope="col">index</th>
                        <th scope="col">id</th>*@
                        <th scope="col">露營區</th>
                        <th scope="col">房型</th>
                        <th scope="col">入住時間</th>
                        <th scope="col">退房時間</th>
                        <th scope="col">價錢</th>
                        <th scope="col">狀態</th>
                        <th scope="col">取消?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for=" (x,index) in OrderDetailsList">
                        @*<th scope="row">{{index}}</th>
                        <th scope="row">{{x.orderDetailId}}</th>*@
                        <th scope="row">{{x.campingAreaName}}</th>
                        <td>{{x.roomName}}</td>
                        <td>{{x.checkInDate}}</td>
                        <td>{{x.checkOutDate}}</td>
                        <td>{{x.price}}</td>
                        <td>{{x.status}}</td>
                        <td>
                            <button v-show="x.status == 'Success'" v-on:click="cancle(x.orderDetailId,x.status)" type="button" class="btn btn-danger" data-toggle="modal" data-target="#staticBackdrop">
                                我想取消
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">露營區</th>
                        <th scope="col">房型</th>
                        <th scope="col">入住時間</th>
                        <th scope="col">退房時間</th>
                        <th scope="col">價錢</th>
                        <th scope="col">狀態</th>
                        <th scope="col">取消時間</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(y,index) in CancelOrderDetailsList">
                        <th scope="row">{{y.campingAreaName}}</th>
                        <td>{{y.roomName}}</td>
                        <td>{{y.checkInDate}}</td>
                        <td>{{y.checkOutDate}}</td>
                        <td>{{y.price}}</td>
                        <td>{{y.status}}</td>
                        <td>{{y.cancelDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    @*<div class="spinner-border text-secondary" role="status">
        <span class="sr-only">Loading...</span>
    </div>*@

    @*Modal*@
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">確定取消??</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    取消就救不回來了:)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                    <button v-on:click="sendodID" type="button" class="btn btn-primary">確定</button>
                </div>
            </div>
        </div>
    </div>
    <p>Success + Refunding</p>
    <p>{{CancelOrderDetailsList}}</p>
    <p>Cancel</p>
    <p>{{OrderDetailsList}}</p>

</div>

<script>
    var a = new Vue({
        el: '#mika',
        data: {
            OrderDetailsList: [],
            CancelOrderDetailsList: [],
            a: {
                odID: 0
            }
        },
        methods: {
            cancle: function (i, s) {
                //alert(i);
                //alert(s);
                let self = this;
                self.a.odID = i;
                //alert(self.a.odID);
            },
            sendodID: function () {
                let self = this;

                //POST請求
                axios({
                    method: 'post',
                    url: '/Buyer/GetodID',
                    //API要求的資料
                    data: self.a,
                    headers: { "Content-Type": 'application/json' }
                })
                    .then(function (response) {
                        if (response.data == true) {
                            //alert("傳入成功");
                            window.location.reload();

                        } else {
                            alert("取消失敗");
                        }
                    })
                    .catch(function (response) {
                        //handle error
                        //console.log(response.data);
                        window.location.href = response.data
                    });
            }
        },
        mounted: function () {
            var self = this;
            axios.get("/Buyer/GetOrderDetails").then(function (res) {
                self.OrderDetailsList = res.data;
            }),
                axios.get("/Buyer/GetCancelOrderDetails").then(function (res) {
                self.CancelOrderDetailsList = res.data;
            })
        }
    });
</script>