<form id="mika" v-on:submit.prevent="send">
    <div class="form-row">
        <div class="col-3">
            <div class="form-group">
                <label for="myNameId">姓名</label>
                <input required v-bind:placeholder="phName" type="text" class="form-control" id="myNameId" v-model.trim="reservationData.name" v-on:blur="checkName">
                @*<small id="emailHelp" class="form-text text-muted">We'll never share your name with anyone else.</small>*@
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="myTelId">電話</label>
                <input required v-bind:placeholder="phTel" type="tel" class="form-control" id="myTelId" v-model.trim="reservationData.tel" v-on:blur="checkTel">
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-3">
            <div class="form-group">
                <label for="myDate1">入住時間</label>
                <input required v-bind:placeholder="phName" type="date" class="form-control" id="myDate1" v-model="reservationData.date1">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="myDate2">退房時間</label>
                <input required type="date" class="form-control" id="myDate2" v-model="reservationData.date2">
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-6">
            <div class="form-group">
                <label>天數</label>
                <input v-model="calDays" readonly type="number" class="form-control">
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-6">
            <div class="form-group">
                <label>總價</label>
                <input readonly v-model="calPrice" type="text" class="form-control">
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">下一步</button>
    <p>{{reservationData.name}}</p>
    <p>{{reservationData.tel}}</p>
    <p>{{reservationData.date1}}</p>
    <p>{{reservationData.date2}}</p>
    <p>getRoomIdtoView</p>
    <p>{{getRoomIdtoView}}</p>
    <p>{{getRoomIdtoView.weekDayPrice}}</p>
</form>

<script>
    var v = new Vue({
        el: '#mika',
        data: {
            reservationData: {
                name: '',
                tel: '',
                date1: '',
                date2: ''
            },
            phName: '姓名',
            phTel: '電話號碼',
            getRoomIdtoView: []
        },
        methods: {
            checkName: function () {
                if (this.reservationData.name === '') {
                    this.phName = '不可為空';
                }
            },
            checkTel: function () {
                if (this.reservationData.tel === '') {
                    this.phTel = '不可為空';
                }
            },
            send: function () {

                let data = new FormData();
                data.append('Name', this.reservationData.name);
                data.append('Tel', this.reservationData.tel);
                data.append('CheckInDate', this.reservationData.date1);
                data.append('CheckOutDate', this.reservationData.date2);


                //POST請求
                axios({
                    method: 'post',
                    url: '/Buyer/getReservation',
                    //API要求的資料
                    data: data,
                    headers: { "Content-Type": 'multipart/form-data' }
                })
                    .then(function (response) {
                        if (response.data == true) {
                            alert("訂房成功");
                        } else {
                            alert("訂房失敗");
                        }

                    })
                    .catch(function (response) {
                        //handle error
                        console.log(response);
                    });

            }
        },
        computed: {
            calDays() {
                var d1 = new Date(this.reservationData.date1);
                var d2 = new Date(this.reservationData.date2);
                var sub = (d2.getTime() - d1.getTime()) / (1000 * 3600 * 24);
                if (sub > 0) {
                    return sub;
                } else if (sub <= 0) {
                    this.reservationData.date1 = '';
                    this.reservationData.date2 = '';
                    alert('請重新填寫');
                }
            },
			CalPrice() {
                var d1GetDay = new Date(this.reservationData.date1).getDay(); // 星期幾0-6 // typeof(d1)=number
                var d2GetDay = new Date(this.reservationData.date2).getDay(); // 星期幾0-6 // typeof(d1)=number

                var d1Format = new Date(this.reservationData.date1)
                var d2Format = new Date(this.reservationData.date2)

                var weekdayP = this.getRoomIdtoView.weekDayPrice; // typeof(weekday)=number
                var weekendP = this.getRoomIdtoView.weekendPrice;

                var temp = d1GetDay; // 星期幾
                var xxx = d1GetDay; // addDay
                var total = 0;
                while (xxx < d2GetDay) {
                    if (temp > 6) {
                        temp = temp - 7;
                    }
                    if (temp == 0) {
                        total = total + weekendP;
                    } else if (temp == 6){
                        total = total + weekendP;
                    }else {
                        total = total + weekdayP;
                    }
                    temp = temp + 1;
                    xxx = xxx + 1;
                }




                return total;
            }
        },
        mounted: function () {
            var self = this;
            axios.get("/Buyer/getRoomIdtoView").then(function (res) {
                self.getRoomIdtoView = res.data;
            })
        }
    })
</script>